<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>Keystone Demo</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
    <script>
      window.onload = function() {
        System.import('js/app');
      }
    </script>

  </head>
  <body>
    <div class="container">
			<nav class="navbar navbar-default">
  			<div class="navbar-nav-body">
  				<ul class="nav navbar-nav">
  				{{#each navLinks}}
  					<li><a href="{{href}}">{{label}}</a></li>
  				{{/each}}
  				{{#if user}}
  					<li><a href="/keystone/signout">Sign Out</a></li>
  				{{else}}
  					<li><a href="/keystone/signin">Sign In</a></li>
  				{{/if}}
  				</ul>
  			</div>
  		</nav>

		  <div class="content">
        {{{body}}}
		  </div>

    </div>
  </body>

</html>