// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100,700');


// Normalize
@import url('../components/bootstrap/less/normalize.less');

// Variables and Mixins
@import url('../components/bootstrap/less/variables.less');
@import url('../components/bootstrap/less/mixins.less');

// Utilities
@import url('../components/bootstrap/less/utilities.less');
@import url('../components/bootstrap/less/responsive-utilities.less');

// The Grid
@import url('../components/bootstrap/less/grid.less');

// Scaffolding
@import url('../components/bootstrap/less/scaffolding.less');

// Forms
@import url('../components/bootstrap/less/forms.less');

.icon {
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon.add {
  width: 35px;
  height: 35px;
  background-image: url('../img/plus.svg');
}

@blue: #2c3e50;
@green: #3498db;

body {
  background: #114357; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #114357 , #F29492); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #114357 , #F29492); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto';

}

h1 {
  text-align: center;
  color: white;
  font-size: 62px;
  font-weight: 100;
}

main {
  max-width: @screen-sm-min;
  margin: 0 auto;
  padding: 25px;
}

input.primary {
  font-size: 18px;
  font-weight: 300;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  .box-shadow(none);
  background-image: url('../img/plus.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 30px;
}

#list ul {
  margin: 20px 0px 0px;
  list-style-type: none;
  padding: 0px;
  li {
    top: 0px;
    font-size: 18px;
    height: 50px;
    line-height: 30px;
    position: relative;
    margin: 7px 0px;
    background-color: rgba(250,250,250,.5);
    padding: 10px;
    border-radius: 10px;
    .transition(.3s);
    cursor: pointer;
    font-weight: 300;
    overflow: hidden;

    textarea {
      border: 0px;
      .box-shadow(none);
      height: 100px;
    }

    label {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }

    header {
      margin-bottom: 0px;
    }

    &:hover {
      background-color: rgba(250,250,250,.8);
    }

    &.open {
      height: 210px;
      background-color: rgba(250,250,250,.8);
    }

  }
}