<p><a href="/posts" class="text-muted">&larr; Return to all Posts.</a></p>
<hr>

{{debug data}}
<article>
	<header>
		<h1>{{{data.post.name}}} ({{data.post.type}})</h1>
	</header>
	<div class="post">
	  {{{data.post.content.extended}}}
		<div class="post-footer">
		  <small>By: {{data.author.first}} {{data.author.last}}</small>
		  {{{debug data.post.author}}}
    </div>
	</div>
</article>