{{#each data.posts}}
  <article>
  	<header>
  		<a href="/posts/{{_id}}"><h1>{{{name}}}</h1></a>
  	</header>
  	<div class="post">
  	  {{{content.brief}}}
  		<h5 class="text-muted">Posted on
  			<time datetime="{{publishedDate}}">{{publishedDate}}</time>
  			{{author.name.first}}
  		</h5>
  		<div class="post-footer">
  		  <small>{{type}}</small>
      </div>
  	</div>
  </article>
  <hr>

{{/each}}